/local.properties
local-env.properties
pokertracker-f-droid.keystore
*.keystore

/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/compiler.xml
/.idea/deviceManager.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/libraries
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/navEditor.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/appInsightsSettings.xml
/.idea/gradle.xml
/.idea/kotlinc.xml

*.iml
.gradle

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

fastlane/report.xml
/repo
/tmp

/.kotlin/sessions
