*.iml
.gradle
/local.properties
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/compiler.xml
/.idea/deviceManager.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/libraries
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/navEditor.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local-env.properties
local.properties
pokertracker-f-droid.keystore
*.keystore
fastlane/report.xml
/repo
/tmp

.idea/gradle.xml
.idea/kotlinc.xml
